@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    
}

body{
    background-color: #f5f1f1;

}

.send-receive {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    /* background-color: #28a745; */
    display: flex;
    flex-direction: column;
    
}


.card {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 15px;
    font-size: 22px;
}

.money-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-label {
    font-size: 16px;
}

.form-input,
.form-textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-textarea {
    resize: vertical;
}

.form-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button {
    background-color: #28a745;
    color: white;
}

.request-button {
    background-color: #007bff;
    color: white;
}

.qr-button {
    background-color: #ffc107;
    color: white;
}

.form-button:hover {
    opacity: 0.9;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #007bff;
    color: white;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.table-data {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.qr-description {
    margin: 10px 0;
}

.qr-code-container {
    margin-top: 15px;
    text-align: center;
}