<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}

        <p>Buscar por nombre de usuario</p>
            <input id="username" name="username"  type="text" value="">

        <p>Ingresarmonto</p>
            <input id="send_money" name="send_money" type="text" value="">
        <p>Enviar</p>
        <button type="submit" class="sendMoney">CREAR TU CUENTA</button>

    </form>

    #id , username , 
</body>
</html>