{% block content %}

<div class="history-card">
    <h2 class="card-title">Historial de Envíos y Recepciones</h2>
    <table class="history-table">
        <thead>
            <tr>
                <th class="table-header" id="">Nombre</th>
                <th class="table-header" id="">descripcion</th>
                
                <th class="table-header" id="">Monto</th>
                <th class="table-header" id="">Tipo</th>
                <th class="table-header" id="">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% if history_send or history_request or history_reload %}
                {% for transaction in history_send %}
                <tr class="table-row">
                    <th class="table-header">{{ transaction.name }}</th>
                    <th class="table-header">{{ transaction.description }}</th>
                    <td class="table-data">${{ transaction.amount }}</td>
                    <td class="table-data">{{ transaction.type_transference }}</td>
                    <td class="table-data">{{ transaction.created_at }}</td>
                </tr>
                {% endfor %}
                {% for transaction in history_request %}
                <tr class="table-row">
                    <th class="table-header">{{ transaction.name }}</th>
                    <th class="table-header">{{ transaction.description }}</th>
                    <td class="table-data">${{ transaction.amount }}</td>
                    <td class="table-data">{{ transaction.type_transference }}</td>
                    <td class="table-data">{{ transaction.created_at }}</td>
                </tr>
                {% endfor %}
                {% for transaction in history_reload %}
                <tr class="table-row">
                    <th class="table-header">{{ transaction.name }}</th>
                    <th class="table-header">{{ transaction.description }}</th>
                    <td class="table-data">${{ transaction.amount }}</td>
                    <td class="table-data">{{ transaction.type_transference }}</td>
                    <td class="table-data">{{ transaction.created_at }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No hay transacciones disponibles.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}