{% block content %}

<div class="history-card">
    <h2 class="card-title">Historial de Envíos y Recepciones</h2>
    <table class="history-table">
        <thead>
            <tr>
                <th class="table-header" id="">Fecha</th>
                <th class="table-header" id="">Tipo</th>
                <th class="table-header" id="">Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in history_send %}
            <tr class="table-row">
                <td class="table-data">{{ transaction.created_at }}</td>
                <td class="table-data">{{ transaction.type_transference }}</td>
                <td class="table-data">${{ transaction.amount }}</td>
            </tr>
            {% endfor %}

            <!-- Más filas de historial pueden ser añadidas aquí -->
        </tbody>
    </table>
</div>

{% endblock %}