{% block content %}

<div class="history-card">
    <h2 class="card-title">Historial de Envíos y Recepciones</h2>
    <table class="history-table">
        <thead>
            <tr>
                <th class="table-header" id="">Nombre</th>
                <th class="table-header" id="">descripcion</th>
                
                <th class="table-header" id="">Monto</th>
                <th class="table-header" id="">Tipo</th>
                <th class="table-header" id="">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% if history_user %}
                


                {% for transaction in history_user %}
                <tr class="table-row">
                    <td class="table-data">{{ transaction.name }}</td>
                    <td class="table-data">{{ transaction.description }}</td>
                    <td class="table-data">S/. {{ transaction.amount }}</td>
                    
                    
                    {% if transaction.type_transference == "RELOAD" %}
                           <td class="table-data"> Recarga</td>
                    {% elif transaction.type_transference == "SEND" %}
                           <td class="table-data"> Envio</td>
                    {% elif transaction.type_transference == "REQUEST" %}
                            <td class="table-data"> Recibido</td>
                    {% else %}
                        Desconocido
                    {% endif %}

                    <td class="table-data">{{ transaction.created_at }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No hay transacciones disponibles.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}