
{% block content %}

<div class="card send-money-card">
    {% csrf_token  %}
    <h2 class="card-title">Enviar Dinero</h2>
    <form id="sendMoneyForm" class="money-form" method="POST" action={% url 'transfer_send' %}>
        {% csrf_token %}

        <label class="form-label" for="recipient">Destinatario:</label>
        <input class="form-input" type="text" id="recipient" name="recipient" placeholder="Ingrese el correo o número de teléfono" required>
        
        <label class="form-label" for="amount">Monto:</label>
        <input class="form-input" type="number" id="amount" name="amount" placeholder="Ingrese el monto" required>
        
        <label class="form-label" for="message">Mensaje (opcional):</label>
        <textarea class="form-textarea" id="message" name="message" placeholder="Escriba un mensaje..."></textarea>
        
        <button class="form-button send-button" type="submit">Enviar Dinero</button>
    </form>
</div>

{% endblock %}
