{% load static %}

<header class="encabezado">
    <figure>
        <a href=" {% url "index" %} " class="contenedor-imagen">
            <h1 class="nombre-app">
                WOPY PAY
            </h1>
            <img class="logo" src="{% static "img/bandera.png" %}" alt="">
        </a>
    </figure>

    <nav class="navegacion">
        <ul class="listado-navegacion">
            <li class="lista"> <a href="{% url "index" %} ">Inicio</a> </li>
            <li class="lista"> <a href="">Activity</a> </li>
            <li class="lista"> <a href="">Enviar & Recibir</a> </li>
            <li class="lista"> <a href="">Billetera</a> </li>
            <li class="lista"> <a href="{% url "user_profile" %} ">Perfil</a> </li>
        </ul>
    </nav>
    <section class="seccion-boton-navegacion">
        <button class= "boton-navegacion-logearse" onclick="redirectLogin()">
            Iniciar Sesion
        </button>
        <button class= "boton-navegacion-registrarse" onclick="redirectSignup()">
            Registrarse
        </button>
    </section>
</header>